{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load image_tags %}
    {% block nav_dropdown %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-lg btn-block border-dark text-white" data-toggle="modal" data-target="#exampleModal2">
	        {% if category %}
		    {% if category.image %}
		        {% oscar_thumbnail category.image "64x64" crop="center" as thumb %}
			<img src="{{ thumb.url }}" alt="{{ category.name }}" class="rounded"  height="30"> {{ category.name }}
		    {% else %}
		        {{ category.name }}
		    {% endif %}
		        <h6 class="text-right">
                            {% if user.is_staff %}
                                <a href="{% url 'dashboard:catalogue-category-update' pk=category.id %}"><small>{% trans "Edit this category" %}</small></a>
                            {% endif %}
                        </h6>
                    {% else %}
                        {% trans "Store" %}
		{% endif %}
            </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark border-dark">
                    <div class="modal-header border-dark">
			    <h5 class="modal-title" id="exampleModalLabel2">{% trans "Browse store" %}</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="background-color: #000000;">
                    <div class="container">
                        {% include "oscar/partials/search.html" %}
                    </div>
			<br>
                        {% category_tree as tree_categories %}
                        {% if tree_categories %}
                            <h6 class="text-left">{% trans "Show results for" %}</h6>
                            <div class="">
				<ul>
                                    {% for tree_category in tree_categories %}
				        <li>
					    <a type="button" class="btn btn-lg btn-block text-left text-white" href="{{ tree_category.url }}">
						{% if tree_category.image %}
						    {% oscar_thumbnail tree_category.image "64x64" crop="center" as thumb %}
		 	                            <img src="{{ thumb.url }}" alt="{{ tree_category.name }}" class="rounded" height="30">
                                                        {% if tree_category.pk == category.pk %}
                                                            <strong>{{ tree_category.name }}</strong>
                                                        {% else %}
                                                            {{ tree_category.name }}
                                                        {% endif %}
					        {% else %}
						        {% if tree_category.pk == category.pk %}
                                                            <strong>{{ tree_category.name }}</strong>
                                                        {% else %}
                                                            {{ tree_category.name }}
                                                        {% endif %}
					        {% endif %}
                                            </a>
					    {% if tree_category.has_children %}
					        <ul>
				            {% else %}
					</li>
					    {% endif %}
                                            {% for n in tree_category.num_to_close %}
                                                </ul>
					</li>
                                            {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                                {% block nav_dropdown_extra_items %}
                                    <a type="button" class="btn btn-outline-light btn-block" href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>    
			            {% if has_facets %}
                                        <h4>{% trans "Refine by" %}</h4>
                                        <div class="">
                                            {% for field, data in facet_data.items %}
                                                {% if data.results %}
                                                    {% include 'oscar/search/partials/facet.html' with name=data.name items=data.results %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
			        {% endblock %}
                    </div>
                    <div class="modal-footer border-dark">
			{% include "oscar/partials/nav_accounts.html" %}
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
          </div>
    {% endblock %}
