{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load image_tags %}
    {% block nav_dropdown %}
            <!-- Button trigger modal -->
            <button type="button" class="btn text-white" data-toggle="modal" data-target="#exampleModal2">
		    <h3>
	        {% if category %}
		    {% if category.image %}
		        {% oscar_thumbnail category.image "42x42" crop="center" as thumb %}
			<img src="{{ thumb.url }}" alt="{{ category.name }}" class="rounded"> {{ category.name }}
		    {% else %}
		        {{ category.name }}
		    {% endif %}
		        <h6 class="">
        {% if user.is_staff %}
            <a href="{% url 'dashboard:catalogue-category-update' pk=category.id %}"><small>{% trans "Edit this category" %}</small></a>
        {% endif %}
    </h6>
                {% else %}
                    {% trans "Store" %}
		{% endif %}
		    <h3>
            </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
			    <h5 class="modal-title" id="exampleModalLabel2">{% trans "Browse store" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="container">
			<br>
                        {% include "oscar/partials/search.html" %}
                    </div>
                    <div class="modal-body">
                        <div>
                            {% category_tree depth=2 as tree_categories %}
                                <a type="button" class="btn btn-outline-primary btn-lg btn-block" href="{% url 'catalogue:index' %}">{% trans "All products" %}</a>
                                {% if tree_categories %}
                                    {% for tree_category in tree_categories %}
                                        {% if tree_category.has_children %}
                                            <a type="button" class="btn btn-outline-primary btn-lg btn-block" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                                        {% endif %}
				        {% for close in tree_category.num_to_close %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                {% block nav_dropdown_extra_items %}
                                    <a type="button" class="btn btn-outline-primary btn-block" href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>
			        {% endblock %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
          </div>
    {% endblock %}
