{% extends "oscar/layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    {% if images %}
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
	    {% for image in images %}
        <div class="item{% if image.active %} active{% endif %}">
		<img class="slide" src="{% if image.image_url %}{{ image.image_url }}{% else %}{{ image.image_file.url }}{% endif %}" alt="{{ image.name }}">
        </div>
	    {% endfor %}
      </div>
    </div>
    {% endif %}
    </br>

    {% if posts %}
<div class="content-wrapper">
      {% for post in posts %}
  <div class="news-card">
    <a href="{% url 'post_detail' pk=post.pk %}" class="news-card__card-link"></a>
    <img src="{% if post.image_url %}{{ post.image_url }}{% else %}{{ post.image_file.url }}{% endif %}" alt="" class="news-card__image">
    <div class="news-card__text-wrapper">
      <h2 class="news-card__title">{{ post.title }}</h2>
      <div class="news-card__post-date">{{ post.published_date }}</div>
      <div class="news-card__details-wrapper">
        <p class="news-card__excerpt">{{ post.description }}</p>
      </div>
    </div>
  </div>
      {% endfor %}
</div>
    {% endif %}

{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}


