{% extends "oscar/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    {% if images %}
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
	    {% for image in images %}
        <div class="item{% if image.active %} active{% endif %}">
		<img class="slide" src="{% if image.image_url %}{{ image.image_url }}{% else %}{{ image.image_file.url }}{% endif %}" alt="{{ image.name }}">
        </div>
	    {% endfor %}
      </div>
    </div>
    {% endif %}
    <br>
    <br>
    {% if posts %}
      {% for post in posts %}
<div id="myDiv" class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      {% if post.image_url or post.image_file.url %}
                  <img class="flip-img" src="{% if post.image_url %}{{ post.image_url }}{% else %}{{ post.image_file.url }}{% endif %}" alt="image" style="max-height:198px;">
      {% endif %}
    </div>
    <div class="flip-card-back">
        <a class="" href="{% url 'post_detail' pk=post.pk %}">
      <h1>{{ post.title }}</h1>
      {% if post.description %}<p class="card-text">{{ post.description }}</p>{% endif %}
      <p class="card-text"><small class="text-muted">{{ post.published_date }}</small></p>
	</a>
    </div>
  </div>
</div>
</br>
      {% endfor %}
    {% endif %}



    {# Main content of page - other layout templates may override this block #}
    {% include "oscar/partials/footer.html" %}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}


