{% extends "oscar/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="container post">
        <h1 class="text-center">{{ post.title }}</h1>
	<p class="text-center">{{ post.description }}</p>
        <p>{{ post.text|safe }}</p>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
